choice
	prompt "RealTek RTL8752H MCU Selection"
	depends on SOC_SERIES_RTL8752H

config SOC_RTL8752HTV
	bool "SOC_RTL8752HTV"

config SOC_RTL8752HKF
	bool "SOC_RTL8752HKF"

endchoice

if SOC_SERIES_RTL8752H

config SOC_PART_NUMBER_RTL8752HTV
	bool

config SOC_PART_NUMBER_RTL8752HKF
	bool

config PRINT_RTK_RAM_VECTOR_TABLE
	bool
	default n

endif
