# BEE ir configuration

# Copyright(c) 2025, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config IR_BEE
	bool "BEE MCU ir driver"
	default y
	depends on DT_HAS_REALTEK_BEE_IR_ENABLED
	select USE_HAL_REALTEK_IR

	help
	  Enable the bee ir driver.
