# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_BEE
	bool "Realtek Bee series GPIO driver"
	default y
	select USE_HAL_REALTEK_BEE_GPIO
	select PINCTRL
	depends on DT_HAS_REALTEK_BEE_GPIO_ENABLED
	help
	  This option enables the GPIO driver for Realtek Bee SoCs.

if GPIO_BEE
config BEE_GPIO_SUPPORT_BOTH_EDGE
	bool
	default y if SOC_SERIES_RTL8752H
endif # GPIO_BEE
