/*
 * Copyright(c) 2020, Realtek Semiconductor Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&uart2 {
    dmas = <&dma0 0 19 0xa>, <&dma0 1 18 0x10021>;
    dma-names = "rx", "tx";
};

&dma0 {
    status = "okay";
};
