# RTL87X2G adc configuration

# Copyright(c) 2020, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config ADC_RTL87X2G
	bool "RTL87X2G MCU adc driver"
	default y
	depends on DT_HAS_REALTEK_RTL87X2G_ADC_ENABLED
	select USE_HAL_REALTEK_ADC
	help
	  Enable the RTL87X2G adc driver.
