# RTL8752H adc configuration

# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config ADC_RTL8752H
	bool "RTL8752H MCU adc driver"
	default y
	depends on DT_HAS_REALTEK_RTL8752H_ADC_ENABLED
	select USE_HAL_REALTEK_ADC
	help
	  Enable the RTL8752H adc driver.
