# BEE dma configuration

# Copyright(c) 2025, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config DMA_BEE
	bool "BEE MCU DMA driver"
	default y
	depends on DT_HAS_REALTEK_BEE_DMA_ENABLED
	select USE_HAL_REALTEK_DMA
	help
	  Enable the bee dma driver.
