# RTL87X2G dma configuration

# Copyright(c) 2020, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config DMA_RTL87X2G
	bool "RTL87X2G MCU DMA driver"
	default y
	depends on DT_HAS_REALTEK_RTL87X2G_DMA_ENABLED
	select USE_HAL_REALTEK_DMA
	help
	  Enable the RTL87X2G dma driver.
