# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config UDC_RTL87X2G
	bool "RTL87X2G MCU udc driver"
	default y
	depends on DT_HAS_REALTEK_RTL87X2G_UDC_ENABLED
	select USE_HAL_REALTEK_USB

	help
	  Enables the RTL87X2G usb driver.
