# Copyright(c) 2025, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config UDC_BEE
	bool "BEE MCU udc driver"
	default y
	depends on DT_HAS_REALTEK_BEE_UDC_ENABLED
	select USE_HAL_REALTEK_USB

	help
	  Enables the bee usb driver.
