/*
 * Copyright (c) 2026 Realtek Semiconductor Corp.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "rtl8752h_evb-pinctrl.dtsi"
#include <zephyr/dt-bindings/gpio/realtek-bee-gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	chosen {
		zephyr,code-partition = &app_partition;
		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio 1 GPIO_ACTIVE_HIGH>;
			label = "LED 0";
		};

		led1: led_1 {
			gpios = <&gpio 2 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			label = "Push button switch 0";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};

		button1: button_1 {
			label = "Push button switch 1";
			gpios = <&gpio 29 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_1>;
		};

		button2: button_2 {
			label = "Push button switch 2";
			gpios = <&gpio 20 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_2>;
		};

		button3: button_3 {
			label = "Push button switch 3";
			gpios = <&gpio 19 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_3>;
		};

		button4: button_4 {
			label = "Push button switch 4";
			gpios = <&gpio 29 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_4>;
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		sw0 = &button0;
	};
};

&gpio {
	pinctrl-0 = <&gpio_default>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
	status = "okay";
	current-speed = <2000000>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&pinctrl {
	gpio_default: gpio_default {
		group1 {
					/* gpio 1 */
			psels = <BEE_PSEL_GPIO_1_P0_1>,
					/* gpio 2 */
					<BEE_PSEL_GPIO_2_P0_2>,
					/* gpio 13 */
					<BEE_PSEL_GPIO_13_P4_0>,
					/* gpio 29 */
					<BEE_PSEL_GPIO_29_P4_1>,
					/* gpio 20 */
					<BEE_PSEL_GPIO_20_P2_4>,
					/* gpio 19 */
					<BEE_PSEL_GPIO_19_P2_3>;
		};
	};
};
