# RTL8752H rtc configuration

# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config RTC_RTL8752H
	bool "RTL8752H RTC driver"
	default n
	depends on DT_HAS_REALTEK_RTL8752H_RTC_ENABLED
	select USE_HAL_REALTEK_RTC
	help
	  Enable the RTL8752H rtc driver.
