#include <zephyr/dt-bindings/input/input-event-codes.h>
/ {
	aliases {
		sw0 = &button2;
	};
    buttons {
		compatible = "gpio-keys";
		button2: button_2 {
			gpios = <&gpio 20 (GPIO_PULL_UP|GPIO_ACTIVE_HIGH)>;
			label = "Push button switch 2";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};

&gpio {
	status = "okay";
};

