# Config Beetle SoC providing a CMSIS-DAP interface.
source [find interface/cmsis-dap.cfg]

transport select swd

source [find target/rtl8752h.cfg]

# Dont use hardware reset line (even if available) and use SWD "software" reset
reset_config srst_nogate

# Reset the peripherals and the core
cortex_m reset_config sysresetreq
