# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
config SOC_FAMILY_REALTEK_BEE
	bool

config SOC_FAMILY
	default "realtek_bee" if SOC_FAMILY_REALTEK_BEE

rsource "*/Kconfig.soc"
