# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
if SOC_FAMILY_REALTEK_BEE

rsource "*/Kconfig.defconfig.series"

config PINCTRL
	default y

# config RESET
# 	default y

config CLOCK_CONTROL
	default y

endif


