# Copyright(c) 2025, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config AON_QDEC_BEE
	bool "BEE MCU aon qdec driver"
	default y
	depends on DT_HAS_REALTEK_BEE_AON_QDEC_ENABLED
	select USE_HAL_REALTEK_AON_QDEC
	help
	  Enable support for aon_qdec driver for BEE MCU series.
