# RTL8752H counter rtc configuration

# Copyright(c) 2020, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config COUNTER_RTC_RTL8752H
	bool "RTL8752H rtc counter driver"
	default y
	depends on DT_HAS_REALTEK_RTL8752H_RTC_ENABLED
	select USE_HAL_REALTEK_RTC
	help
	  Enable the RTL8752H counter rtc driver.
