# RTL87X2G wdt configuration

# Copyright(c) 2020, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config AON_WDT_RTL87X2G
	bool "RTL87X2G AON Watchdog Timer driver"
	default y
	depends on DT_HAS_REALTEK_RTL87X2G_AON_WDT_ENABLED
	select USE_HAL_REALTEK_AON_WDT
	help
	  Enable the RTL87X2G aon wdg timer driver.

config CORE_WDT_RTL87X2G
	bool "RTL87X2G Core Watchdog Timer driver"
	default y
	depends on DT_HAS_REALTEK_RTL87X2G_CORE_WDT_ENABLED
	select USE_HAL_REALTEK_CORE_WDT
	help
	  Enable the RTL87X2G core wdg timer driver.
