# RTL87X2G spi configuration

# Copyright(c) 2020, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config SPI_RTL87X2G
	bool "RTL87X2G SPI driver"
	default y
	depends on DT_HAS_REALTEK_RTL87X2G_SPI_ENABLED
	select USE_HAL_REALTEK_SPI
	help
	  Enables the RTL87X2G spi driver.

if SPI_RTL87X2G

config SPI_RTL87X2G_INTERRUPT
	bool "RTL87X2G MCU SPI Interrupt Support"
	default y if SPI_ASYNC
	default y if SPI_RTL87X2G_DMA
	help
	  Enable the interrupt driven mode for SPI instances

config SPI_RTL87X2G_DMA
	bool "RTL87X2G MCU SPI DMA Support"
	select DMA
	select SPI_RTL87X2G_INTERRUPT
	select USE_HAL_REALTEK_DMA
	help
	  Use the DMA for SPI transfer
	  that enable dma channels in their device tree node.

endif # SPI_RTL87X2G
