/ {
	// leds {
	// 	compatible = "gpio-leds";
	// 	led0: led_0 {
	// 		gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
	// 		label = "Green LED 0";
	// 	};
	// 	led1: led_1 {
	// 		gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
	// 		label = "Green LED 1";
	// 	};
	// };

    buttons {
		compatible = "gpio-keys";
		button2: button_2 {
			// gpios = <&gpioa 25 GPIO_ACTIVE_HIGH>;
			gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
			label = "Push button switch 2";
		};
	};
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};
