choice
	prompt "RealTek RTL87x2G MCU Selection"
	depends on SOC_SERIES_RTL87X2G

config SOC_RTL8762GKU
	bool "SOC_RTL8762GKU"

config SOC_RTL8762GN
	bool "SOC_RTL8762GN"

config SOC_RTL8762GTP
	bool "SOC_RTL8762GTP"

config SOC_RTL8762GTU
	bool "SOC_RTL8762GTU"

config SOC_RTL8772GWF
	bool "SOC_RTL8772GWF"

config SOC_RTL8772GWP
	bool "SOC_RTL8772GWP"

config SOC_RTL8777G
	bool "SOC_RTL8777G"

endchoice

if SOC_SERIES_RTL87X2G

config SOC_PART_NUMBER_RTL8762GKU
	bool
config SOC_PART_NUMBER_RTL8762GN
	bool
config SOC_PART_NUMBER_RTL8762GTP
	bool
config SOC_PART_NUMBER_RTL8762GTU
	bool
config SOC_PART_NUMBER_RTL8772GWF
	bool
config SOC_PART_NUMBER_RTL8772GWP
	bool
config SOC_PART_NUMBER_RTL8777G
	bool

endif
