config SOC_SERIES_RTL87X2G
	bool "RTL87X2G Series MCU"
	select ARM
	select CPU_CORTEX_M55
	select CPU_HAS_ARM_SAU
	select CPU_HAS_FPU
	select CPU_HAS_ARM_MPU
	select CLOCK_CONTROL
	select PINCTRL
	select DYNAMIC_INTERRUPTS
	select ARMV8_M_DSP
	select ARMV8_1_M_MVEI
	select ARMV8_1_M_MVEF
	select SOC_FAMILY_REALTEK_BEE
	select ARM_TRUSTZONE_M
	select SHARED_MULTI_HEAP
	select SYSTICK_USE_EXTERNAL_CLOCK
	select HAS_PM
	select THREAD_STACK_INFO



