/*
 * Copyright(c) 2020, Realtek Semiconductor Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&gpioa {
	status = "okay";
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <500000>;
	};
	fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <RTL87X2G_PSEL(SPI0_CLK_MASTER, P4_0,DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(SPI0_MO_MASTER, P4_1,DIR_OUT, DRV_HIGH, PULL_UP)>,
			<RTL87X2G_PSEL(SPI0_MI_MASTER, P4_2,DIR_OUT, DRV_HIGH, PULL_UP)>;
		};
	};
};

