# BEE i2c configuration

# Copyright(c) 2025, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config I2C_BEE
	bool "BEE I2C driver"
	default y
	depends on DT_HAS_REALTEK_BEE_I2C_ENABLED
	select USE_HAL_REALTEK_I2C
	help
	  Enable the bee i2c driver.

if I2C_BEE

config I2C_BEE_INTERRUPT
	bool
	default n
	help
	  Do transfer with i2c interrupt.

endif
