# RTL8752H i2c configuration

# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config I2C_RTL8752H
	bool "RTL8752H I2C driver"
	default y
	depends on DT_HAS_REALTEK_RTL8752H_I2C_ENABLED
	select USE_HAL_REALTEK_I2C
	help
	  Enable the RTL8752H i2c driver.
