# BEE sdhc configuration

# Copyright(c) 2020, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config SDHC_BEE
	bool "BEE MCU serial driver"
	default y
	depends on DT_HAS_REALTEK_BEE_SDHC_ENABLED
	select USE_HAL_REALTEK_SDHC
	select SDHC_SUPPORTS_NATIVE_MODE

	help
	  Enable the BEE sdhc driver.

if SDHC_BEE
config SDHC_BUFFER_ALIGNMENT
	default 4
endif
