/*
 * Copyright(c) 2020, Realtek Semiconductor Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&gpioa {
    status = "okay";
};

/ {
    resources {
        compatible = "test-gpio-basic-api";
        out-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
        in-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
    };
};