# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0
if SOC_SERIES_RTL8752H

# specifies the frequency of the hardware timer used for the system clock (in Hz)
config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 32000

config NUM_IRQS
	int
	default 32

config CORTEX_M_SYSTICK
	default y

config SYS_CLOCK_TICKS_PER_SEC
	int
	default 100
	#1s = 100 ticks

# config ARCH_HAS_CUSTOM_BUSY_WAIT
# 	default y

config NUM_METAIRQ_PRIORITIES
	default 1

config SYSTICK_USE_EXTERNAL_CLOCK
	bool
	default y

config IDLE_STACK_SIZE
	default 768

config ARM_MPU
	default y

# Due to lacking of ram, keep MPU_STACK_GUARD default as n
config MPU_STACK_GUARD
	default n

# Logging
config LOG_BACKEND_SHOW_COLOR
	default n

config LOG_FUNC_NAME_PREFIX_INF
	default y

config LOG_FUNC_NAME_PREFIX_WRN
	default y

config LOG_FUNC_NAME_PREFIX_ERR
	default y

config TICKLESS_KERNEL
	default n

config TIMESLICE_SIZE
	default 10

config PM
	select CODE_DATA_RELOCATION
	select RUNTIME_NMI
	select THREAD_STACK_INFO
	select PM_DEVICE

rsource "Kconfig.defconfig.rtl87*"

endif # SOC_SERIES_RTL8752H
