# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RTL8752H
	bool
	select SOC_FAMILY_REALTEK_BEE

config SOC_SERIES
	default "rtl8752h" if SOC_SERIES_RTL8752H

config SOC_RTL8752HTV
	bool "SOC_RTL8752HTV"
	select SOC_SERIES_RTL8752H

config SOC_RTL8752HKF
	bool "SOC_RTL8752HKF"
	select SOC_SERIES_RTL8752H

config SOC
	default "rtl8752htv" if SOC_RTL8752HTV
	default "rtl8752hkf" if SOC_RTL8752HKF
