if BOARD_RTL8762GN_EVB

config BOARD
	default "rtl8762gn_evb"

endif #BOARD_RTL8762GN_EVB

if BT

choice BT_HCI_BUS_TYPE
	default BT_RTL87X2G
endchoice

choice BT_RECV_CONTEXT
	default BT_RECV_BLOCKING
endchoice

config BT_CTLR
	default n

config REALTEK_BT
	default y

config BT_L2CAP_TX_MTU
	default 247
	
config BT_BUF_EVT_RX_COUNT
	default 8

config BT_BUF_EVT_RX_SIZE
	default 255

config BT_BUF_ACL_TX_SIZE
	default 251

config BT_BUF_ACL_RX_SIZE
	default 255

config BT_BUF_ACL_RX_COUNT
	default 7

endif # BT