#include <mem.h>
#include <arm/armv6-m.dtsi>
#include <freq.h>
#include <dt-bindings/pinctrl/rtl8752h-pinctrl.h>
#include <dt-bindings/clock/rtl8752h-clocks.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
// #include <zephyr/dt-bindings/adc/adc.h>
// #include <zephyr/dt-bindings/pwm/pwm.h>
// #include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	chosen {
		zephyr,flash = &flash;
		zephyr,flash-controller = &fmc;
		zephyr,sram = &app_ram_data;
		zephyr,entropy = &trng;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m0+";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <1>;
		};
	};

	soc {
		fmc: flash-controller@40080000 {
			compatible = "realtek,rtl8752h-flash-controller";
			reg = <0x40080000 0x12C>;
			#address-cells = <1>;
			#size-cells = <1>;
			status = "okay";

			flash: flash@800000 {
				compatible = "soc-nv-flash";
				write-block-size = <1>;
				erase-block-size = <4096>;
			};
		};
		/* ram data region */
		app_ram_data: memory@208800 {
			compatible = "mmio-sram";
			reg = < 0x208800 DT_SIZE_K(57)>;
		};
		/* heap region */
		heap0: memory@216c00 {
			compatible = "mmio-sram";
			reg = < 0x216C00 DT_SIZE_K(13)>;
		};
		/* cache for flash */
		flash_cache: memory@21a000{
			compatible = "mmio-sram";
			reg = < 0x21A000 DT_SIZE_K(8)>;
		};
		/* rom data region */
		rom_data: memory@280000{
			reg = < 0x280000 (DT_SIZE_K(1)+512)>;
		};
		/* bufer ram data region */
		app_ram_data2: memory@280600{
			compatible = "zephyr,memory-region";
			zephyr,memory-region = "RAM2";
			reg = < 0x280600 (DT_SIZE_K(1)+512)>;
		};
		/* heap region */
		heap1: memory@280c00{
			compatible = "mmio-sram";
			reg = < 0x280C00 (DT_SIZE_K(13))>;
		};

		/* rtk trace region */
		trace: memory@18100000 {
			compatible = "zephyr,memory-region";
			reg = <0x18100000 0x80000>;
			zephyr,memory-region = "TRACE";
		};

		rcu: reset-clock-controller@40000200 {
			compatible = "realtek,rtl8752h-rcu";
			reg = <0x40000200 0x400>;
			status = "okay";

			cctl: clock-controller {
				compatible = "realtek,rtl8752h-cctl";
				#clock-cells = <1>;
				status = "okay";
			};
		};

		pinctrl: pin-controller@40000280 {
			compatible = "realtek,rtl8752h-pinctrl";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x40000280 0x864>;

			gpio: gpio@40001000 {
				compatible = "realtek,rtl8752h-gpio";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x40001000 0x64>;
				clocks = <&cctl APB_CLK(GPIO)>;
				interrupts = <30 0>, <29 0>, <27 0>, <26 0>;
				status = "disabled";
			};
		};

		uart0: serial@40011000 {
			compatible = "realtek,rtl8752h-uart";
			reg = <0x40011000 0x60>;
			clocks = <&cctl APB_CLK(UART0)>;
			interrupts = <11 0>;
			status = "disabled";
		};

		uart1: serial@40012000 {
			compatible = "realtek,rtl8752h-uart";
			reg = <0x40012000 0x60>;
			clocks = <&cctl APB_CLK(UART1)>;
			interrupts = <12 0>;
			status = "disabled";
		};

		uart2: serial@40012400 {
			compatible = "realtek,rtl8752h-uart";
			reg = <0x40012400 0x60>;
			clocks = <&cctl APB_CLK(UART2)>;
			interrupts = <31 0>;
			status = "disabled";
		};

		dma0: dma@400272c0 {
			compatible = "realtek,rtl8752h-dma";
			reg = <0x400272c0 0x4b0>;
			interrupts = <20 0>, <21 0>, <22 0>;
			dma-channels = <3>;
			clocks = <&cctl APB_CLK(GDMA)>;
			dma-port = <0>;
			#dma-cells = <3>;
			status = "disabled";
		};

		trng: trng@400c2400 {
			compatible = "realtek,rtl8752h-trng";
			reg = <0x400c2400 0x68>;
			status = "okay";
		};

	};

};
&nvic {
	arm,num-irq-priority-bits = <3>;
};
