config SOC_FAMILY_REALTEK_BEE
	bool
	# select HAS_SEGGER_RTT
	select BUILD_OUTPUT_HEX

if SOC_FAMILY_REALTEK_BEE
config SOC_FAMILY
	string
	default "realtek_bee"

rsource "*/Kconfig.soc"

config SYSTICK_USE_EXTERNAL_CLOCK
	bool "systick use external clock"

config SYSTICK_USE_CPU_CLOCK
	bool "systick use cpu clock"

config REALTEK_IMAGE_HEADER
    bool
	default y
	help
	  This config will prepend realtek_image_header on the zephyr binary.

config REALTEK_VTOR_RELOCATE
	bool
	help
	  This config will relocate vector table to realtek allocated ram.

endif # SOC_FAMILY_REALTEK_BEE
