# BEE kscan configuration

# Copyright(c) 2025, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config INPUT_BEE_KSCAN
	bool "BEE MCU kscan driver"
	default n
	depends on DT_HAS_REALTEK_BEE_KSCAN_ENABLED
	select USE_HAL_REALTEK_KEYSCAN
	help
	  Enable the BEE kscan driver.

if INPUT_BEE_KSCAN
config BEE_INPUT_KSCAN_MAX_ROW_SIZE
	int "Max row size for bee kscan"
	default 12
	help
	  Max row size for bee kscan.

config BEE_INPUT_KSCAN_MAX_COL_SIZE
	int "Max column size for bee kscan"
	default 20
	help
	  Max column size for bee kscan.

config BEE_INPUT_KSCAN_GHOST_KEY_FILTER
	bool "Ghost key filter for bee kscan"
	default y
	help
	  Ghost key filter for bee kscan.

config BEE_INPUT_KSCAN_AUTOSCAN_MODE
	bool "Config scanmode for bee kscan"
	default y
	help
	  default is autoscan, else is manual scan.

if !BEE_INPUT_KSCAN_AUTOSCAN_MODE
config BEE_INPUT_KSCAN_RELEASE_WAKEUP
	bool "Wakeup system when key release"
	default n
	help
	  Wakeup system when key release using manual mode.
	  If enabled, When entering DLPS during pressing the key, the row pins
	  will be configured as pull-up. This results in leakage current through
	  the pull-up resistor during key press, but the system will wake up
	  immediately after releasing the key.
	  If disabled, When entering DLPS by pressing the key, the row pins will
	  be configured as pull-down. This eliminates leakage current during key
	  press, but the system can only wake up after a timeout period once the
	  key is released, followed by a scan to detect key status.

endif # BEE_INPUT_KSCAN_AUTOSCAN_MODE

endif # INPUT_BEE_KSCAN
