# RTL87X2G kscan configuration

# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config INPUT_RTL87X2G_KSCAN
	bool "RTL87X2G MCU kscan driver"
	default n
	depends on DT_HAS_REALTEK_RTL87X2G_KSCAN_ENABLED
	select USE_HAL_REALTEK_KEYSCAN
	help
	  Enable the RTL87X2G kscan driver.

if INPUT_RTL87X2G_KSCAN
config RTL87X2G_KEYSCAN_MAX_ROW_SIZE
	int "Max row size for rtl87x2g kscan"
	default 12
	help
	  Max row size for rtl87x2g kscan.

config RTL87X2G_KEYSCAN_MAX_COL_SIZE
	int "Max column size for rtl87x2g kscan"
	default 20
	help
	  Max column size for rtl87x2g kscan.

config RTL87X2G_KEYSCAN_GHOST_KEY_FILTER
	bool "Ghost key filter for rtl87x2g kscan"
	default y
	help
	  Ghost key filter for rtl87x2g kscan.

endif # INPUT_RTL87X2G_KSCAN
