# RTL8752H kscan configuration

# Copyright(c) 2024, Realtek Semiconductor Corporation.
# SPDX-License-Identifier: Apache-2.0

config INPUT_RTL8752H_KSCAN
	bool "RTL8752H MCU kscan driver"
	default n
	depends on DT_HAS_REALTEK_RTL8752H_KSCAN_ENABLED
	select USE_HAL_REALTEK_KEYSCAN
	help
	  Enable the RTL8752H kscan driver.

if INPUT_RTL8752H_KSCAN
config RTL8752H_INPUT_KEYSCAN_MAX_ROW_SIZE
	int "Max row size for rtl8752h kscan"
	default 12
	help
	  Max row size for rtl8752h kscan.

config RTL8752H_INPUT_KEYSCAN_MAX_COL_SIZE
	int "Max column size for rtl8752h kscan"
	default 20
	help
	  Max column size for rtl8752h kscan.

config RTL8752H_INPUT_KEYSCAN_GHOST_KEY_FILTER
	bool "Ghost key filter for rtl8752h kscan"
	default y
	help
	  Ghost key filter for rtl8752h kscan.

config RTL8752H_INPUT_KEYSCAN_AUTOSCAN_MODE
	bool "Config scanmode for rtl8752h kscan"
	default y
	help
	  default is autoscan, else is manual scan.

if !RTL8752H_INPUT_KEYSCAN_AUTOSCAN_MODE
config RTL8752H_KEYSCAN_MANUAL_SCAN_INTERVAL_MSEC
	int "Scan Interval when using manual mode"
	default 50
	help
	  Scan Interval when using manual mode.

endif # RTL8752H_INPUT_KEYSCAN_AUTOSCAN_MODE

endif # INPUT_RTL8752H_KSCAN
