# Copyright (c) 2026 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_BEE
	bool "Realtek Bee series pin control driver"
	default y
	depends on DT_HAS_REALTEK_BEE_PINCTRL_ENABLED
	select USE_HAL_REALTEK_BEE_PINMUX
	help
	  This option enables the pin controller driver for Realtek Bee SoCs.
